:root {
  --primary: #421abc;
  --bg-dark: #000000;
  --text-light: #fdfdfd;
  --text-muted: #717680;
  --border-color: #252b37;

  --display-3xl: 3.75rem;
  --display-xl: 2.5rem;
  --display-md: 2rem;
  --display-sm: 1.75rem;
  --display-xs: 1.5rem;

  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --line-heigh-display-3xl: 4.5rem;
  --line-heigh-display-xl: 3rem;
  --line-heigh-display-md: 2.5rem;
  --line-heigh-display-sm: 2.375rem;
  --line-heigh-display-xs: 2.25rem;

  --line-heigh-text-xl: 2.125rem;
  --line-heigh-text-lg: 2rem;
  --line-heigh-text-md: 1.875rem;
  --line-heigh-text-sm: 1.75rem;
  --line-heigh-text-xs: 1.5rem;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: 'Inter', sans-serif;
}

/* mobile view menu configuration */
body.no-scroll {
  overflow: hidden;
}

i {
  font-style: italic;
}

p {
  color: var(--text-muted);
}

header,
section {
  padding: 80px 140px;
}

@media (max-width: 768px) {
  header,
  section {
    padding: 40px 20px;
  }
}

button {
  background-color: var(--primary);
  border-radius: 9999px;
  color: var(--text-light);
}

.text-center {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: var(--display-xl);
  line-height: var(--line-heigh-display-xl);
}

.desc {
  font-size: var(--text-lg);
  line-height: var(--line-heigh-text-lg);
  font-weight: 400;
}

@media (max-width: 768px) {
  .title {
    font-size: var(--display-sm);
    line-height: var(--line-heigh-display-sm);
  }

  .desc {
    font-size: var(--text-sm);
    line-height: var(--line-heigh-text-sm);
    font-weight: 400;
  }
}

section.service .text-center,
section.portofolio .text-center,
section.team .text-center,
section.contact-us .text-center {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ======================== NAVIGATION ========================*/
header {
  display: flex;
  background-color: var(--bg-dark);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px); /* support Safari */
  justify-content: space-between;
  align-items: center;
  padding: 10px 140px;
  height: 84px;
  position: relative;
  z-index: 101;
}

header .logo {
  font-weight: 700;
  width: 160px;
  font-size: var(--display-xs);
  line-height: var(--line-heigh-display-xs);
  align-items: center;
}

header .item {
  justify-content: center;
  text-align: center;
}

header nav .nav-list {
  display: flex;
  gap: 6px;
}

header nav .nav-list .nav-item {
  padding: 8px 16px;
  font-weight: 400;
  font-size: var(--text-sm);
  line-height: var(--line-heigh-text-sm);
}

header .contact {
  padding: 8px;
  width: 160px;
  height: 44px;
  border: none;
}

/* handle hamburger menu-icon hidden */
header .item:last-child {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 20px 20px;
  }

  header .logo {
    padding: 0;
    width: auto;
  }

  header nav,
  header .contact {
    display: none;
  }

  header .item:last-child {
    display: block;
  }

  header .menu-icon {
    font-size: 24px;
    background-color: var(--bg-dark);
    cursor: pointer;
  }
}

/* ======================== MENU MOBILE VIEW WHEN CLICK MENU ICON ======================== */
/* Only show this menu in mobile */
nav.mobile-menu {
  padding: 20px 20px;
  position: fixed;
  top: 65px;
  left: 0;
  height: calc(100vh - 65px);
  width: 100%;
  background-color: var(--bg-dark);
  backdrop-filter: blur(10px);
  align-items: start;
  justify-content: start;
  z-index: 100;
}

nav.mobile-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nav.mobile-menu ul li {
  font-size: var(--text-sm);
  line-height: var(--line-heigh-text-sm);
  font-weight: 400;
}

nav.hidden {
  display: none;
}

nav.mobile-menu ul li button {
  font-size: var(--text-sm);
  line-height: var(--line-heigh-text-sm);
  font-weight: 400;
  width: 100%;
  padding: 8px;
}

/* ======================== HERO SECTION ======================== */
section.hero {
  position: relative;
  height: 750px;
  padding: 0 140px;
  background: linear-gradient(to top, #210a5e4d 30%, #000000 70%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

@media (max-width: 1024px) {
  section.hero {
    flex-direction: column;
    padding: 40px 20px;
    height: auto;
    gap: 18px;
  }
}

section.hero .hero-text {
  width: 100%;
  max-width: 687px;
  z-index: 2;
  position: relative;
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  gap: 48px;
}

section.hero .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.hero .hero-text .title {
  font-weight: 700;
  font-size: var(--display-3xl);
  line-height: var(--line-heigh-display-3xl);
  letter-spacing: -3%;
}

section.hero .hero-text .desc {
  font-size: var(--text-xl);
  line-height: var(--line-heigh-text-xl);
  font-weight: 400;
}

@media (max-width: 768px) {
  section.hero .hero-text {
    width: 100%;
    max-width: 768px;
    gap: 24px;
  }

  section.hero .hero-text .title {
    font-size: var(--display-xl);
    line-height: var(--line-heigh-display-xl);
    font-weight: 700;
  }

  section.hero .hero-text .desc {
    font-size: var(--text-md);
    line-height: var(--line-heigh-text-md);
    font-weight: 400;
  }
}

section.hero .hero-text button {
  font-size: var(--text-md);
  line-height: var(--line-heigh-text-md);
  font-weight: 600;
  width: 300px;
  height: 48px;
  padding: 8px;
}

@media (max-width: 768px) {
  section.hero .hero-text button {
    width: 100%;
    font-size: var(--text-sm);
    line-height: var(--line-heigh-text-sm);
    font-weight: 600;
  }
}

section.hero .image-card {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 140px;
}

@media (max-width: 1024px) {
  section.hero .image-card {
    position: static;
  }
}

@media (max-width: 768px) {
  section.hero .image-card {
    position: static;
    z-index: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    pointer-events: auto;
    margin-top: 2rem;
  }
}

section.hero .image-card img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  section.hero .image-card img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
}

/* ======================== WHO WE ARE SECTION ======================== */
section.about {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section.about p {
  font-size: var(--display-md);
  font-weight: 600;
  line-height: var(--line-heigh-display-md);
}

@media (max-width: 768px) {
  section.about p {
    font-size: var(--text-lg);
    line-height: var(--line-heigh-text-lg);
  }
}
section.about span {
  color: var(--text-light);
}

/* what we do sections */
section.service {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (max-width: 768px) {
  section.service {
    gap: 24px;
  }

  section.service .text {
    gap: 8px;
  }
}

section.service .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  section.service .content {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

section.service .content .card {
  display: flex;
  /* width: calc(33.333% - 13.33px); */
  flex-direction: column;
  gap: 20px;
  border: solid 1px #181d27;
  padding: 24px;
  align-items: center;
}

section.service .content .card .icon {
  width: 48px;
  height: 48px;
}

section.service .content .card .title {
  font-size: var(--text-xl);
  line-height: var(--line-heigh-text-xl);
  font-weight: 700;
}

@media (max-width: 768px) {
  section.service .content .card .title {
    font-size: var(--text-lg);
    line-height: var(--line-heigh-text-lg);
    font-weight: 700;
  }
}

section.service .content .card .desc {
  font-size: var(--text-md);
  line-height: var(--line-heigh-text-md);
  font-weight: 400;
}

@media (max-width: 768px) {
  section.service .content .card .desc {
    font-size: var(--text-sm);
    line-height: var(--line-heigh-text-sm);
    font-weight: 400;
  }
}

/* ======================== OUR WORK SECTION ========================*/
section.portofolio {
  text-align: center;
  display: grid;
  gap: 64px;
}

section.portofolio .content {
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  section.portofolio {
    gap: 24px;
  }

  section.portofolio .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  section.portofolio .content .card {
    display: grid;
    gap: 16px;
  }
}

section.portofolio .content .card img {
  width: 100%;
  max-height: 100%;
  border-radius: 16px;
}

section.portofolio .content .card p {
  color: var(--text-light);
  font-size: var(--text-xl);
  line-height: var(--line-heigh-text-xl);
  font-weight: 700;
  text-align: start;
}

@media (max-width: 768px) {
  section.portofolio .content .card p {
    font-size: var(--text-md);
    line-height: var(--line-heigh-text-md);
    font-weight: 700;
  }
}

/* ======================== TEAM ========================  */
section.team {
  display: grid;
  gap: 64px;
}

section.team .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 56px;
}

section.team .content .card {
  display: grid;
  width: 100%;
  gap: 20px;
  justify-items: center;
  max-height: 308px;
}

section.team .content .card .text-center {
  display: grid;
  gap: 4px;
}

section.team .content .card .name {
  font: var(--text-xl);
  font-weight: 700;
  line-height: var(--line-heigh-text-xl);
}

section.team .content .card .job-title {
  font-size: var(--text-md);
  font-weight: 400;
  line-height: var(--line-heigh-text-md);
}

@media (max-width: 768px) {
  section.team {
    display: grid;
    gap: 32px;
  }

  section.team .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
  }

  section.team .content .card {
    display: grid;
    width: 100%;
    justify-items: center;
  }

  section.team .content .card .name {
    font-size: var(--text-md);
    line-height: var(--line-heigh-text-md);
    font-weight: 700;
  }

  section.team .content .card .job-title {
    font-size: var(--text-sm);
    line-height: var(--line-heigh-text-sm);
    font-weight: 400;
  }

  section.team .content .card .text-center {
    display: grid;
    gap: 4px;
  }
}

section.team .content .card img {
  border-radius: 9999px;
  gap: 20px;
  width: 70%;
  max-height: 492px;
}

/* ======================== CONTACT US ======================== */
section.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

@media (max-width: 768px) {
  section.contact-us {
    gap: 24px;
  }

  section.contact-us .text-center {
    display: grid;
    gap: 8px;
  }
}

section.contact-us .form {
  display: flex;
  flex-direction: column;
  width: 592px;
  gap: 40px;
  justify-content: center;
}

@media (max-width: 768px) {
  section.contact-us .form {
    width: 100%;
    gap: 16px;
  }
}

section.contact-us .form .item {
  width: 100%;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

section.contact-us .form .item input,
textarea {
  padding: 0.5rem 1rem;
  border: solid 1px var(--border-color);
  color: var(--text-muted);
  font-weight: 400;
  font-size: var(--text-md);
  border-radius: 0.75rem;
  background-color: var(--bg-dark);
  font: inherit;
}
@media (max-width: 768px) {
  section.contact-us .form .item input {
    height: 30px;
  }
}

section.contact-us .form .item input {
  height: 48px;
}

section.contact-us .form .item textarea {
  height: 134px;
}

section.contact-us .form .item label {
  font-weight: 700;
  font-size: var(--text-sm);
  line-height: var(--line-heigh-text-sm);
}

section.contact-us .form button {
  background-color: var(--primary) !important;
  margin-top: 20px;
  padding: 8px;
  height: 48px;
}

/* ======================== FOOTER ======================== */
footer {
  border-top: 1px solid var(--border-color);
  padding: 24px 8px;
  text-align: center;
  font-size: var(--text-md);
  line-height: var(--line-heigh-text-md);
  font-weight: 400;
}

@media (max-width: 768px) {
  footer {
    font-size: var(--text-xs);
    line-height: var(--line-heigh-text-xs);
    font-weight: 400;
  }
}
