:root {
  --primary: #421abc;
  --bg-dark: #000000;
  --text-light: #fdfdfd;
  --text-muted: #717680;
  --border-color: #252b37;

  --display-3xl: 3.75rem;
  --display-xl: 2.5rem;
  --display-md: 2rem;
  --display-sm: 1.75rem;
  --display-xs: 1.5rem;

  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --line-heigh-display-3xl: 4.5rem;
  --line-heigh-display-xl: 3rem;
  --line-heigh-display-md: 2.5rem;
  --line-heigh-display-sm: 2.375rem;
  --line-heigh-display-xs: 2.25rem;

  --line-heigh-text-xl: 2.125rem;
  --line-heigh-text-lg: 2rem;
  --line-heigh-text-md: 1.875rem;
  --line-heigh-text-sm: 1.75rem;
  --line-heigh-text-xs: 1.5rem;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: 'Inter', sans-serif;
}

/* mobile view menu configuration */
body.no-scroll {
  overflow: hidden;
}

i {
  font-style: italic;
}

p {
  color: var(--text-muted);
}

nav,
section {
  padding: 80px 140px;
}

@media (max-width: 768px) {
  nav,
  section,
  .hero,
  .contact-us,
  .our-work,
  .team,
  .what-we-do,
  .who-we-are {
    padding: 40px 20px;
  }
}

button {
  background-color: var(--primary);
  border-radius: 9999px;
  color: var(--text-light);
}

.text-center {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: var(--display-xl);
  line-height: var(--line-heigh-display-xl);
}

.desc {
  font-size: var(--text-lg);
  line-height: var(--line-heigh-text-lg);
  font-weight: 400;
}

@media (max-width: 768px) {
  .title {
    font-size: var(--display-sm);
    line-height: var(--line-heigh-display-sm);
  }

  .desc {
    font-size: var(--text-sm);
    line-height: var(--line-heigh-text-sm);
    font-weight: 400;
  }
}

.what-we-do .text-center,
.our-work .text-center,
.team .text,
.contact-us .text-center {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ======================== NAVIGATION ========================*/
nav {
  display: flex;
  background-color: var(--bg-dark);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px); /* support Safari */
  justify-content: space-between;
  align-items: center;
  padding: 10px 140px;
  height: 84px;
  position: relative;
  z-index: 101;
}

.logo {
  font-weight: 700;
  font-size: var(--display-xs);
  line-height: var(--line-heigh-display-xs);
  align-items: center;
}

.nav-item {
  justify-content: center;
  text-align: center;
}

.menu {
  display: flex;
  gap: 6px;
}

.menu-item {
  padding: 8px 16px;
  font-weight: 400;
  font-size: var(--text-sm);
  line-height: var(--line-heigh-text-sm);
}

nav .contact {
  padding: 8px;
  width: 160px;
  height: 44px;
  border: none;
}

/* handle hamburger menu-icon hidden */
nav .nav-item:last-child {
  display: none;
}

@media (max-width: 768px) {
  nav {
    padding: 20px 20px;
  }

  .logo {
    padding: 0;
  }

  .menu,
  nav .contact {
    display: none;
  }

  nav .nav-item:last-child {
    display: block;
  }

  .menu-icon {
    font-size: 24px;
    background-color: var(--bg-dark);
    cursor: pointer;
  }
}

/* ======================== MENU MOBILE VIEW WHEN CLICK MENU ICON ======================== */
/* Only show this menu in mobile */
.mobile-menu {
  padding: 20px 20px;
  position: fixed;
  top: 65px;
  left: 0;
  height: calc(100vh - 65px);
  width: 100%;
  background-color: var(--bg-dark);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  justify-content: start;
  z-index: 100;
}

.hidden {
  display: none;
}

.mobile-menu .contact {
  width: 100%;
  padding: 12px;
}

/* ======================== HERO SECTION ======================== */
.hero {
  position: relative;
  height: 750px;
  padding: 0 140px;
  background: linear-gradient(to top, #210a5e4d 30%, #000000 70%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    height: auto;
    gap: 18px;
  }
}

.hero-text {
  width: 100%;
  max-width: 687px;
  z-index: 2;
  position: relative;
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-text .title {
  font-weight: 700;
  font-size: var(--display-3xl);
  line-height: var(--line-heigh-display-3xl);
  letter-spacing: -3%;
}

.hero-text .desc {
  font-size: var(--text-xl);
  line-height: var(--line-heigh-text-xl);
  font-weight: 400;
}

@media (max-width: 768px) {
  .hero-text {
    width: 100%;
    max-width: 768px;
    gap: 24px;
  }

  .hero-text .title {
    font-size: var(--display-xl);
    line-height: var(--line-heigh-display-xl);
    font-weight: 700;
  }

  .hero-text .desc {
    font-size: var(--text-md);
    line-height: var(--line-heigh-text-md);
    font-weight: 400;
  }
}

.hero-image-card {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 140px;
}

@media (max-width: 1024px) {
  .hero-image-card {
    position: static;
  }
}

@media (max-width: 768px) {
  .hero-image-card {
    position: static;
    z-index: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    pointer-events: auto;
    margin-top: 2rem;
  }
}

.hero-image {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .hero-image {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
}

.hero-button {
  width: 300px;
  height: 48px;
  padding: 8px;
}

@media (max-width: 768px) {
  .hero-button {
    width: 100%;
  }
}

/* ======================== WHO WE ARE SECTION ======================== */
.who-we-are {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.who-we-are p {
  font-size: var(--display-md);
  font-weight: 600;
  line-height: var(--line-heigh-display-md);
}

@media (max-width: 768px) {
  .who-we-are p {
    font-size: var(--text-lg);
    line-height: var(--line-heigh-text-lg);
  }
}
.who-we-are span {
  color: var(--text-light);
}

/* what we do sections */
.what-we-do {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (max-width: 768px) {
  .what-we-do {
    gap: 24px;
  }

  .what-we-do .text {
    gap: 8px;
  }
}

.service-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .service-row {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.service-card {
  display: flex;
  /* width: calc(33.333% - 13.33px); */
  flex-direction: column;
  gap: 20px;
  border: solid 1px #181d27;
  padding: 24px;
  align-items: center;
}

.service-card .icon {
  width: 48px;
  height: 48px;
}

.service-card .title {
  font-size: var(--text-xl);
  line-height: var(--line-heigh-text-xl);
  font-weight: 700;
}

@media (max-width: 768px) {
  .service-card .title {
    font-size: var(--text-lg);
    line-height: var(--line-heigh-text-lg);
    font-weight: 700;
  }
}

.service-card .desc {
  font-size: var(--text-md);
  line-height: var(--line-heigh-text-md);
  font-weight: 400;
}

@media (max-width: 768px) {
  .service-card .desc {
    font-size: var(--text-sm);
    line-height: var(--line-heigh-text-sm);
    font-weight: 400;
  }
}

/* ======================== OUR WORK SECTION ========================*/
.our-work {
  text-align: center;
  display: grid;
  gap: 64px;
}

.portofolio {
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .our-work {
    gap: 24px;
  }

  .portofolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .portofolio-card {
    display: grid;
    gap: 16px;
  }
}

.portofolio-card img {
  width: 100%;
  max-height: 100%;
  border-radius: 16px;
}

.portofolio-card p {
  color: var(--text-light);
  font-size: var(--text-xl);
  line-height: var(--line-heigh-text-xl);
  font-weight: 700;
  text-align: start;
}

@media (max-width: 768px) {
  .portofolio-card p {
    font-size: var(--text-md);
    line-height: var(--line-heigh-text-md);
    font-weight: 700;
  }
}

/* ======================== TEAM ========================  */
.team {
  display: grid;
  gap: 64px;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 56px;
}

.member-card {
  display: grid;
  width: 100%;
  gap: 20px;
  justify-items: center;
  max-height: 308px;
}

.member-card .text-center {
  display: grid;
  gap: 4px;
}

.member-card .name {
  font: var(--text-xl);
  font-weight: 700;
  line-height: var(--line-heigh-text-xl);
}

.member-card .job-title {
  font-size: var(--text-md);
  font-weight: 400;
  line-height: var(--line-heigh-text-md);
}

@media (max-width: 768px) {
  .team {
    display: grid;
    gap: 32px;
  }

  .members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
  }

  .member-card {
    display: grid;
    width: 100%;
    justify-items: center;
  }

  .member-card .name {
    font-size: var(--text-md);
    line-height: var(--line-heigh-text-md);
    font-weight: 700;
  }

  .member-card .job-title {
    font-size: var(--text-sm);
    line-height: var(--line-heigh-text-sm);
    font-weight: 400;
  }

  .member-card .text-center {
    display: grid;
    gap: 4px;
  }
}

.member-card img {
  border-radius: 9999px;
  gap: 20px;
  width: 70%;
  max-height: 492px;
}

/* ======================== CONTACT US ======================== */
.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

@media (max-width: 768px) {
  .contact-us {
    gap: 24px;
  }

  .contact-us .text-center {
    display: grid;
    gap: 8px;
  }
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 592px;
  gap: 40px;
  justify-content: center;
}

@media (max-width: 768px) {
  .form-contact {
    width: 100%;
    gap: 16px;
  }
}

.input-item {
  width: 100%;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.input-item input,
textarea {
  padding: 0.5rem 1rem;
  border: solid 1px var(--border-color);
  color: var(--text-muted);
  font-weight: 400;
  font-size: var(--text-md);
  border-radius: 0.75rem;
  background-color: var(--bg-dark);
  font: inherit;
}
@media (max-width: 768px) {
  .input-item input {
    height: 30px;
  }
}

.input-item input {
  height: 48px;
}

.input-item textarea {
  height: 134px;
}

.input-item label {
  font-weight: 700;
  font-size: var(--text-sm);
  line-height: var(--line-heigh-text-sm);
}

.form-contact button {
  background-color: var(--primary) !important;
  margin-top: 20px;
  padding: 8px;
  height: 48px;
}

/* ======================== FOOTER ======================== */
footer {
  border-top: 1px solid var(--border-color);
  padding: 24px 8px;
  text-align: center;
  font-size: var(--text-md);
  line-height: var(--line-heigh-text-md);
  font-weight: 400;
}

@media (max-width: 768px) {
  footer {
    font-size: var(--text-xs);
    line-height: var(--line-heigh-text-xs);
    font-weight: 400;
  }
}
